div {                    
    margin: 15px;        
    padding: 10px;       
    border-width: 5px;   
    border-style: solid; 
}                        
                         
.border-red {            
    border-color: red;   
}                        
                         
.border-blue {           
    border-color: blue;  
}                        
                         
.border-green {          
    border-color: green; 
}                        